/************Reset**************/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
}

ol, ul {
    list-style: none;
}

header, footer, nav, section, article, hgroup, figure {
    display: block;
}

legend {
    display: none;
}
/************End Reset**************/

.thumb {
	max-width: 100px;
	max-height: 100px;
}

#uploadArea {
	border: 5px solid black;
}
