<!DOCTYPE html>
<html>
	 <meta charset="UTF-8">
    <title>Stream</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/public/css/mobile_first.css" media="screen, handheld" />
    <link rel="stylesheet" type="text/css" href="/public/css/enhanced.css" media="screen  and (min-width: 48em)" />

	<body>
		<div id"navBar">
			<div class="logout"><a href="/logout">Logout</a></div>
			<h2>Hello <span class='email_welcome'>{{email}}!</span></h2>
			<div id="uploadArea">
				<div id="uploadWrapper">
					
					<h3>Overshare an image</h3>
					<form id="uploadForm">
					<label for='fileName' id="fileName">File Description</label>
					    <!-- <input id="fileName" type="text" name="fileName" placeholder="Name your photo (optional)" maxlength="50"><br> -->
					    <textarea id="fileDesc" placeholder="Give the world too much information about your photo (optional)" maxlength="400"></textarea><br>
					    <input id="file" type="file" name="upload" multiple="false" accept="image/*"><br>
					    <input id="uploadButton" type="submit" value="Overshare!">
					</form>
				</div>

			    <div id="previewArea">

			    </div>
			</div>

			<div id="dashboard">
        
       
			</div>

		</div>

		<div id="photoStream">
			<div id="photoList">

			</div>
		</div>

		<footer></footer>
	</body>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="/public/js/stream.js" type="text/javascript"></script>
</html>
